@page "/start"

<MudStack Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.Center" Class="py-5">
    <MudStack Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.Center" Class="flex-wrap" Row="true">
        <MudAvatar Image="@RandomCollection[0]" Style="height:90px; width:90px; font-size:2rem;" />
        <MudAvatar Image="@RandomCollection[1]" Style="height:90px; width:90px; font-size:2rem;" />
        <MudAvatar Image="@RandomCollection[2]" Style="height:90px; width:90px; font-size:2rem;" />
        <MudAvatar Image="@RandomCollection[3]" Style="height:90px; width:90px; font-size:2rem;" />
    </MudStack>
    <div>
        <MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">Welcome to MemeChat</MudText>
        <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="px-5">The best messenger which allows only memes!</MudText>
    </div>
    <MudStack Justify="Justify.Center" Row="true">
        <MudButton Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" Link="register">Sign Up</MudButton>
        <MudButton Color="Color.Secondary" Size="Size.Large" Variant="Variant.Filled" Link="login">Sign In</MudButton>
    </MudStack>
</MudStack>
